@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-ink: #20352d;
  --color-muted: #718077;

  --color-green: #397853;
  --color-green-dark: #265d3f;

  --color-paper: #f7f8f3;

  --font-sans: 'DM Sans', sans-serif;
  --font-display: 'Manrope', sans-serif;
}
